<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skars Bookstore | {% block title %}{% endblock %}</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Assets -->
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/Font-awesome/css/all.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% block content %}

    {% endblock %}

    {% block javascript %}
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/Font-awesome/js/all.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}
</body>

</html>