<header class="sticky-top" id="header">
    <div class="container-fluid">
        <h1 class="logo me-auto"><a href="{% url 'dashboard' %}" class="navbar-brand" title="Home"><i class="bi bi-book"></i>Skars Bookstore</a></h1>

        <nav id="navbar" class="nav">
            <ul class="navmenu responsive">
                <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link"><i class="bi bi-house-fill"></i>Dashboard</a></li>
                <li class="nav-item"><a href="{% url 'shelf' %}" class="nav-link"><i class="bi bi-book-ladder"></i>Shelf</a></li>
                <li class="nav-item"><a href="{% url 'library' %}" class="nav-link"><i class="bi bi-book-fill"></i>Library</a></li>
                <li class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><i class="bi bi-envelope-fill"></i>Messages</a></li>
                <li class="nav-item" id="account-toggle-setting"><a href="#" class="nav-link">Account</a>
                    <div class="account-options">
                        <ul class="account-options-menu">
                            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link"><i class="bi bi-person-fill"></i>Profile</a></li>
                            <li class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><i class="bi bi-envelope-fill"></i>Messages</a></li>
                            <li class="nav-item"><a href="{% url 'settings' %}" class="nav-link"><i class="bi bi-gear"></i>Settings</a></li>
                            <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link"><i class="bi bi-question"></i>FAQ</a></li>
                            <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link"><i class="bi bi-door-open"></i>Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle" id="mobile-nav-toggle"></i>
        </nav>
    </div>
</header>