<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load account %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skars Bookstore | Reset Password</title>

    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/Font-awesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    <div class="wrapper" style="height: 40px;">
        <div class=" top-banner mb-5">
            <h3>{% trans "Password Reset" %}</h3>
        </div>
        {% if user.is_authenticated %}
        {% include "snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.{% endblocktrans %}</p>
        <p><a href="{% url 'account_reset_password' %}" class="have-an-account">{% trans "Didn't receive an email." %}</a></p>
    </div>
</body>

</html>