<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load account %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skars Bookstore | Verify Your E-Mail Address</title>

    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/Font-awesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    <h1 style="font-family: comic sans ms; font-weight: 900;">You are seeing this page because your account has not yet been verified.</h1>
    <h3>Kindly use the verication link we sent you to verify your email address.</h3>
</body>

</html>