<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skars Bookstore | {{ user }}- Library | New book</title>
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/Font-awesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    <form method="post" class="wrapper">
        <div class="top-banner mb-5">
            <h2 class="text-light">Add new book</h2>
            <p class="mt-2"><a href="{% url 'library' %}" class="btn btn-outline-light"><i class="bi bi-chevron-left"></i> Go Back</a></p>
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="ADD BOOK">
    </form>
</body>

</html>